/*-----null-style-----*/
:root {
  --fontSize: 0.52083vw;
}

* {
  padding: 0;
  margin: 0;
  font-family: "Lato", serif;
  text-decoration: none;
}

a,
p {
  color: #424551;
}

::-webkit-scrollbar {
  width: 0;
}

ul,
li,
ol {
  list-style: none;
}

html,
body {
  font-size: var(--fontSize);
  overflow-x: hidden;
}

::after,
::before {
  display: block;
}

button {
  background-color: rgba(255, 255, 255, 0);
  border: none;
  cursor: pointer;
}

/*--------------------*/
/*----------Titles------------*/
h1 {
  font-size: 6.4rem;
  font-weight: 900;
}

h2 {
  font-size: 4.6rem;
  font-weight: 900;
}

h3 {
  font-size: 3.2rem;
  font-weight: 900;
}

h4 {
  font-size: 2.8rem;
  font-weight: 700;
}

h5 {
  font-size: 1.6rem;
  font-weight: 700;
}

/*----------------------*/
/*-----------Text-----------*/
[class*=_display] {
  font-weight: 900;
}

[class*=_2] {
  font-size: 4.8rem;
}

[class*=_1] {
  font-size: 5.6rem;
}

[class*=_regular] {
  font-weight: 400;
}

[class*=_bold] {
  font-weight: 700;
}

[class*=_lead] {
  font-size: 2rem;
}

[class*=_large] {
  font-size: 1.8rem;
}

[class*=_base] {
  font-size: 1.6rem;
}

[class*=_small] {
  font-size: 1.4rem;
}

[class*=_extrasmall] {
  font-size: 1.2rem;
}

[class*=_extraextrasmall] {
  font-size: 1rem;
}

/*----------------------*/
/*-----------Icon-----------*/
[class*=_icon-small] {
  width: 1.6rem;
  height: 1.6rem;
}

[class*=_icon-medium] {
  width: 2rem;
  height: 2rem;
}

[class*=_icon-big] {
  width: 2.4rem;
  height: 2.4rem;
}

[class*=_icon-extrabig] {
  width: 4.8rem;
  height: 4.8rem;
  fill: #ff3f3a;
}

/*----------------------*/
/*-----------Button----------*/
[class*=_btn-solid] {
  background: linear-gradient(55.95deg, #ff3f3a 0%, #f75e05 100%);
  border-radius: 0.4rem;
  border: none;
  color: white;
  font-size: 1.6rem;
  font-weight: 700;
}

[class*=_btn-outline] {
  border: solid #ff3f3a 0.2rem;
  background: rgba(0, 0, 0, 0);
  border-radius: 0.4rem;
  color: #ff3f3a;
  font-size: 1.6rem;
  font-weight: 700;
}

[class*=_btn-large] {
  height: 5.2rem;
  padding: 0 4rem;
}

[class*=_btn-regular] {
  height: 4.4rem;
  padding: 0 3.2rem;
}

[class*=_btn-small] {
  height: 3.6rem;
  padding: 0 2.4rem;
}

[class*=_btn-outline]:hover {
  background: linear-gradient(55.95deg, #ff3f3a 0%, #f75e05 100%);
  color: white;
}

/*----------Fonts-----------*/
@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Black.eot");
  src: url("../fonts/Lato-Black.woff") format("woff"), url("../fonts/Lato-Black.ttf") format("truetype"), url("../fonts/Lato-Black.svg") format("svg");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Bold.eot");
  src: url("../fonts/Lato-Bold.woff") format("woff"), url("../fonts/Lato-Bold.ttf") format("truetype"), url("../fonts/Lato-Bold.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Regular.eot");
  src: url("../fonts/Lato-Regular.woff") format("woff"), url("../fonts/Lato-Regular.ttf") format("truetype"), url("../fonts/Lato-Regular.svg") format("svg");
  font-weight: 400;
  font-style: normal;
}
/*---------------------*/
/*-----------CSS----------*/
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #feddd0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 5.2rem;
  width: 100%;
  padding: 1rem 0;
  position: fixed;
}
.header .header__logo {
  width: 13rem;
  height: 2.2rem;
  cursor: pointer;
}
.header .header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 4rem;
  padding-left: 6rem;
}
.header .header__btn {
  margin-left: 22.5rem;
}
.header .header__log {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.8rem;
  margin-left: 3.6rem;
}

.enjoy {
  width: 100%;
  background-image: url(../../img/Homepage/enjoy/background.png);
  background-size: cover;
  height: 114rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.enjoy .enjoy__content {
  padding-top: 20rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 18rem;
}
.enjoy .enjoy__content .enjoy__title .enjoy__play {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.enjoy .enjoy__content .enjoy__title .enjoy__play .play__btn {
  width: 5.2rem;
  height: 5.2rem;
  background-color: #ff3f3a;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.enjoy .enjoy__content .enjoy__title .enjoy__play .play__btn .play__btn-hover {
  width: 8.4rem;
  height: 8.4rem;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 50%;
  position: absolute;
  z-index: -1;
}
.enjoy .enjoy__content .enjoy__title .enjoy__play .play__btn .play__btn-hover .play__icon {
  z-index: 1;
}
.enjoy .enjoy__content .enjoy__title .enjoy__play .play__btn:hover .play__btn-hover {
  background-color: #fec8c1;
}
.enjoy .enjoy__content .enjoy__title .enjoy__play .play__text {
  font-size: 1.4rem;
  padding-left: 1.6rem;
}
.enjoy .enjoy__content .enjoy__title h1 {
  width: 49.6rem;
  padding-top: 4rem;
}
.enjoy .enjoy__content .enjoy__title .enjoy__block-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2.4rem;
  padding-top: 6rem;
}
.enjoy .enjoy__content .enjoy__img {
  width: 60rem;
  height: 55rem;
}
.enjoy .enjoy__statistic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 6.6rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 18.9rem;
}
.enjoy .enjoy__statistic .enjoy__statistic-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.2rem;
}
.enjoy .enjoy__statistic .enjoy__circle {
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 50%;
  background-color: #ff3f3a;
}