/*-----null-style-----*/
:root {
  --fontSize: 0.52083vw;
}

* {
  padding: 0;
  margin: 0;
  font-family: "Lato", serif;
  text-decoration: none;
}

a,
p {
  color: #424551;
}

::-webkit-scrollbar {
  width: 0;
}

ul,
li,
ol {
  list-style: none;
}

html,
body {
  font-size: var(--fontSize);
  overflow-x: hidden;
}

::after,
::before {
  display: block;
}

button {
  background-color: rgba(255, 255, 255, 0);
  border: none;
  cursor: pointer;
}

/*--------------------*/
/*----------Titles------------*/
h1 {
  font-size: 6.4rem;
  font-weight: 900;
  color: #1e212c;
}

h2 {
  font-size: 4.6rem;
  font-weight: 900;
  color: #1e212c;
}

h3 {
  font-size: 3.2rem;
  font-weight: 900;
  color: #1e212c;
}

h4 {
  font-size: 2.8rem;
  font-weight: 700;
  color: #1e212c;
}

h5 {
  font-size: 1.6rem;
  font-weight: 700;
  color: #1e212c;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

/*----------------------*/
/*-----------Text-----------*/
[class*=_display] {
  font-weight: 900;
}

[class*=_2] {
  font-size: 4.8rem;
}

[class*=_1] {
  font-size: 5.6rem;
}

[class*=_regular] {
  font-weight: 400;
}

[class*=_bold] {
  font-weight: 700;
}

[class*=_lead] {
  font-size: 2rem;
  line-height: 3rem;
}

[class*=_large] {
  font-size: 1.8rem;
  line-height: 2.7rem;
}

[class*=_base] {
  font-size: 1.6rem;
  line-height: 2.5rem;
}

[class*=_small] {
  font-size: 1.4rem;
  line-height: 2.1rem;
}

[class*=_extrasmall] {
  font-size: 1.2rem;
  line-height: 1.8rem;
}

[class*=_extraextrasmall] {
  font-size: 1rem;
}

/*----------------------*/
/*-----------Icon-----------*/
[class*=_icon-small] {
  width: 1.6rem;
  height: 1.6rem;
}

[class*=_icon-medium] {
  width: 2rem;
  height: 2rem;
}

[class*=_icon-big] {
  width: 2.4rem;
  height: 2.4rem;
}

[class*=_icon-extrabig] {
  width: 4.8rem;
  height: 4.8rem;
  fill: #ff3f3a;
}

/*----------------------*/
/*-----------Button----------*/
[class*=_btn-solid] {
  background: linear-gradient(55.95deg, #ff3f3a 0%, #f75e05 100%);
  border-radius: 0.4rem;
  border: none;
  color: white;
  font-weight: 700;
}

[class*=_btn-outline] {
  border: solid #ff3f3a 0.2rem;
  background: rgba(0, 0, 0, 0);
  border-radius: 0.4rem;
  color: #ff3f3a;
  font-weight: 700;
}

[class*=_btn-large] {
  height: 5.2rem;
  padding: 0 4rem;
  font-size: 1.6rem;
}

[class*=_btn-regular] {
  height: 4.4rem;
  padding: 0 3.2rem;
  font-size: 1.4rem;
}

[class*=_btn-small] {
  height: 3.6rem;
  padding: 0 2.4rem;
}

[class*=_btn-outline]:hover {
  background: linear-gradient(55.95deg, #ff3f3a 0%, #f75e05 100%);
  color: white;
}

/*----------Fonts-----------*/
@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Black.eot");
  src: url("../fonts/Lato-Black.woff") format("woff"), url("../fonts/Lato-Black.ttf") format("truetype"), url("../fonts/Lato-Black.svg") format("svg");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Bold.eot");
  src: url("../fonts/Lato-Bold.woff") format("woff"), url("../fonts/Lato-Bold.ttf") format("truetype"), url("../fonts/Lato-Bold.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Regular.eot");
  src: url("../fonts/Lato-Regular.woff") format("woff"), url("../fonts/Lato-Regular.ttf") format("truetype"), url("../fonts/Lato-Regular.svg") format("svg");
  font-weight: 400;
  font-style: normal;
}
/*---------------------*/
/*-----------CSS----------*/
/*-----------Homepage----------*/
.header_pink {
  background-color: #feddd0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 5.2rem;
  width: 100%;
  padding: 1rem 0;
  position: fixed;
  z-index: 50;
}
.header_pink .header__logo {
  width: 13rem;
  height: 2.2rem;
  cursor: pointer;
}
.header_pink .header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 4rem;
  padding-left: 6rem;
}
.header_pink .header__btn {
  margin-left: 22.5rem;
}
.header_pink .header__log {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.8rem;
  margin-left: 3.6rem;
}

.enjoy {
  width: 100%;
  background-image: url(../../img/Homepage/enjoy/background.png);
  background-size: cover;
  height: 114rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.enjoy .enjoy__content {
  padding-top: 20rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 18rem;
}
.enjoy .enjoy__content .enjoy__title .enjoy__play {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.enjoy .enjoy__content .enjoy__title .enjoy__play .play__btn {
  width: 5.2rem;
  height: 5.2rem;
  background-color: #ff3f3a;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.enjoy .enjoy__content .enjoy__title .enjoy__play .play__btn .play__btn-hover {
  width: 8.4rem;
  height: 8.4rem;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 50%;
  position: absolute;
  z-index: -1;
}
.enjoy .enjoy__content .enjoy__title .enjoy__play .play__btn .play__btn-hover .play__icon {
  z-index: 1;
}
.enjoy .enjoy__content .enjoy__title .enjoy__play .play__btn:hover .play__btn-hover {
  background-color: #fec8c1;
}
.enjoy .enjoy__content .enjoy__title .enjoy__play .play__text {
  font-size: 1.4rem;
  padding-left: 1.6rem;
}
.enjoy .enjoy__content .enjoy__title h1 {
  width: 49.6rem;
  padding-top: 4rem;
}
.enjoy .enjoy__content .enjoy__title .enjoy__block-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2.4rem;
  padding-top: 6rem;
}
.enjoy .enjoy__content .enjoy__img {
  width: 60rem;
  height: 55rem;
}
.enjoy .enjoy__statistic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 6.6rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 18.9rem;
}
.enjoy .enjoy__statistic .enjoy__statistic-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.2rem;
}
.enjoy .enjoy__statistic .enjoy__circle {
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 50%;
  background-color: #ff3f3a;
}

.about {
  background-image: url(../../img/Homepage/about/background.png);
  background-size: cover;
  width: 100%;
  height: 48.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 24rem;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.about .about__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 13.2rem;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.about .about__container .about__img {
  width: 70.5rem;
  height: 56rem;
}
.about .about__container .about__content {
  margin-bottom: 2.6rem;
}
.about .about__container .about__content .about__article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.8rem;
}
.about .about__container .about__content .about__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.2rem;
  margin-top: 4rem;
  margin-bottom: 2.2rem;
}
.about .about__container .about__content .about__list .about__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 2.6rem;
}
.about .about__container .about__content .about__list .about__item .about__icon {
  fill: #ff3f3a;
  padding-right: 1.6rem;
}

.courses {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 19.6rem;
  gap: 6rem;
}
.courses .courses__header {
  width: 123rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.courses .courses__header .courses__article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.8rem;
}
.courses .courses__content {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 22rem 3rem 22rem 3rem 22rem;
  -ms-grid-columns: 60rem 3rem 60rem;
      grid-template: repeat(3, 22rem)/repeat(2, 60rem);
  gap: 3rem;
}
.courses .courses__content .courses__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3.2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 0.4rem;
  border: 0.1rem solid #e5e8ed;
  -webkit-box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
          box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
}
.courses .courses__content .courses__block .courses__img {
  width: 21.4rem;
  height: 22rem;
}
.courses .courses__content .courses__block .courses__discription {
  width: 32.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
}
.courses .courses__content .courses__block .courses__discription .courses__category-marketing {
  background-color: #03cea4;
  color: white;
  border-radius: 0.4rem;
  width: 6.3rem;
  padding: 0.2rem 0.8rem;
}
.courses .courses__content .courses__block .courses__discription .courses__category-managment {
  background-color: #5a87fc;
  color: white;
  border-radius: 0.4rem;
  width: 7.8rem;
  padding: 0.2rem 0.8rem;
}
.courses .courses__content .courses__block .courses__discription .courses__category-hr {
  background-color: #f89828;
  color: white;
  border-radius: 0.4rem;
  width: 9.6rem;
  padding: 0.2rem 0.8rem;
}
.courses .courses__content .courses__block .courses__discription .courses__category-design {
  background-color: #f52f6e;
  color: white;
  border-radius: 0.4rem;
  width: 4.4rem;
  padding: 0.2rem 0.8rem;
}
.courses .courses__content .courses__block .courses__discription .courses__author {
  color: #787a80;
}
.courses .courses__content .courses__block .courses__discription .courses__author .courses__price {
  color: #ff4242;
  font-weight: 700;
}
.courses .courses__content .courses__block:hover {
  -webkit-box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.16), 0px 30px 24px -10px rgba(154, 156, 165, 0.1), 0px 12px 10px -6px rgba(154, 156, 165, 0.08), 0px 4px 4px -4px rgba(30, 33, 44, 0.05);
          box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.16), 0px 30px 24px -10px rgba(154, 156, 165, 0.1), 0px 12px 10px -6px rgba(154, 156, 165, 0.08), 0px 4px 4px -4px rgba(30, 33, 44, 0.05);
  z-index: 1;
}

.benefits {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 16.2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.benefits .benefits__article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.8rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.benefits .benefits__control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 6rem;
}
.benefits .benefits__control .benefits__btn {
  width: 30.7rem;
  height: 4.6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0.8rem;
  fill: #9a9ca5;
}
.benefits .benefits__control .benefits__btn .benefits__btn-text {
  color: #9a9ca5;
}
.benefits .benefits__control .benefits__btn:focus {
  fill: #ff3f3a;
  border: 0.1rem solid #ff3f3a;
  border-radius: 0.4rem;
}
.benefits .benefits__control .benefits__btn:focus .benefits__btn-text {
  color: #ff3f3a;
}
.benefits .benefits__control .benefits__btn:hover {
  fill: #ff3f3a;
}
.benefits .benefits__control .benefits__btn:hover .benefits__btn-text {
  color: #ff3f3a;
}
.benefits .benefits__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 13.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 6rem;
}
.benefits .benefits__content .benefits__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2.4rem;
  width: 49.6rem;
}
.benefits .benefits__content .benefits__img {
  width: 60rem;
  height: 44rem;
}

.events {
  width: 100%;
  background-image: url(../../img/Homepage/events/background.png);
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 6rem;
  padding-bottom: 12rem;
  margin-top: 15.5rem;
}
.events .events__article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.8rem;
  margin-top: 4.5rem;
}
.events .events__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2.4rem;
}
.events .events__list .events__block {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 4rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3.2rem 4rem;
  border-radius: 0.4rem;
}
.events .events__list .events__block .events__date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
}
.events .events__list .events__block .events__date .events__number {
  color: #ff3f3a;
}
.events .events__list .events__block .events__date .events__month-time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.4rem;
}
.events .events__list .events__block .events__date .events__month-time .events__time {
  color: #787a80;
}
.events .events__list .events__block .events__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.4rem;
}
.events .events__list .events__block .events__info .events__type {
  color: #787a80;
}
.events .events__list .events__block:hover {
  -webkit-box-shadow: 0px 8rem 8rem -2rem rgba(255, 63, 58, 0.16), 0px 3rem 2.4rem -1rem rgba(255, 63, 58, 0.1), 0px 1.2rem 1rem -0.6rem rgba(255, 63, 58, 0.08), 0px 0.4rem 0.4rem -0.4rem rgba(30, 33, 44, 0.05);
          box-shadow: 0px 8rem 8rem -2rem rgba(255, 63, 58, 0.16), 0px 3rem 2.4rem -1rem rgba(255, 63, 58, 0.1), 0px 1.2rem 1rem -0.6rem rgba(255, 63, 58, 0.08), 0px 0.4rem 0.4rem -0.4rem rgba(30, 33, 44, 0.05);
  z-index: 1;
}
.events .events__view-all {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 4rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.certificate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 13rem;
  margin-top: 8rem;
  height: 45.4rem;
}
.certificate .certificate__content {
  width: 39.7rem;
}
.certificate .certificate__content .certificate__article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.8rem;
  margin-bottom: 4.8rem;
}
.certificate .certificate__content .certificate__logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 4rem;
  margin-top: 3.2rem;
}
.certificate .certificate__content .certificate__logos .certificate__logo {
  width: 10.5rem;
  height: 5rem;
}
.certificate .certificate__img {
  width: 70.5rem;
  height: 50rem;
  -webkit-box-shadow: 0rem 8rem 8rem -2rem rgba(154, 156, 165, 0.16), 0rem 3rem 2.4rem -10rem rgba(154, 156, 165, 0.1), 0rem 1.2rem 1rem -0.6rem rgba(154, 156, 165, 0.08), 0rem 4rem 4rem -4rem rgba(30, 33, 44, 0.05);
          box-shadow: 0rem 8rem 8rem -2rem rgba(154, 156, 165, 0.16), 0rem 3rem 2.4rem -10rem rgba(154, 156, 165, 0.1), 0rem 1.2rem 1rem -0.6rem rgba(154, 156, 165, 0.08), 0rem 4rem 4rem -4rem rgba(30, 33, 44, 0.05);
  z-index: 3;
}

.testimonials-teams {
  width: 100%;
  background-image: url(../../img/Homepage/team:testimonials/Background.png);
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.testimonials-teams .teams {
  margin-top: 16.6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 6rem;
}
.testimonials-teams .teams .teams__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 85rem;
}
.testimonials-teams .teams .teams__header .teams__article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.8rem;
}
.testimonials-teams .teams .teams__header .teams__control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.testimonials-teams .teams .teams__header .teams__control .teams__btn {
  width: 4.8rem;
  height: 4.8rem;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.testimonials-teams .teams .teams__header .teams__control .teams__btn:hover {
  border-radius: 50%;
  background-color: #ff3f3a;
}
.testimonials-teams .teams .teams__header .teams__control .teams__btn:hover .teams__icon {
  fill: white;
}
.testimonials-teams .teams .teams__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3rem;
}
.testimonials-teams .teams .teams__content .teams__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.testimonials-teams .teams .teams__content .teams__block .teams__bg {
  position: absolute;
  z-index: 3;
  width: 29rem;
  height: 34rem;
  display: none;
}
.testimonials-teams .teams .teams__content .teams__block .teams__bg .teams__social {
  fill: white;
  padding-bottom: 2rem;
  opacity: 60%;
}
.testimonials-teams .teams .teams__content .teams__block .teams__bg .teams__social:last-child {
  padding-right: 2rem;
}
.testimonials-teams .teams .teams__content .teams__block .teams__bg .teams__social:hover {
  opacity: 100%;
  cursor: pointer;
}
.testimonials-teams .teams .teams__content .teams__block .teams__img {
  width: 29rem;
  height: 34rem;
  margin-bottom: 1.6rem;
}
.testimonials-teams .teams .teams__content .teams__block:hover .teams__bg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  gap: 1.2rem;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(43.9%, rgba(30, 33, 44, 0)), color-stop(55.21%, rgba(30, 33, 44, 0.03)), color-stop(68.73%, rgba(30, 33, 44, 0.33)), color-stop(76.17%, rgba(30, 33, 44, 0.56)), color-stop(83.75%, rgba(30, 33, 44, 0.768225)), color-stop(91.49%, rgba(30, 33, 44, 0.92)), to(#1e212c));
  background: linear-gradient(180deg, rgba(30, 33, 44, 0) 43.9%, rgba(30, 33, 44, 0.03) 55.21%, rgba(30, 33, 44, 0.33) 68.73%, rgba(30, 33, 44, 0.56) 76.17%, rgba(30, 33, 44, 0.768225) 83.75%, rgba(30, 33, 44, 0.92) 91.49%, #1e212c 100%);
}
.testimonials-teams .testimonials {
  margin-top: 18rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 6rem;
  margin-bottom: 10rem;
}
.testimonials-teams .testimonials .testimonials__article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.8rem;
}
.testimonials-teams .testimonials .testimonials__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 6.9rem;
}
.testimonials-teams .testimonials .testimonials__content .testimonials__btn {
  width: 4.8rem;
  height: 4.8rem;
  border-radius: 50%;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.testimonials-teams .testimonials .testimonials__content .testimonials__btn:hover {
  background-color: #ff3f3a;
}
.testimonials-teams .testimonials .testimonials__content .testimonials__btn:hover .testimonials__icon {
  fill: white;
}
.testimonials-teams .testimonials .testimonials__content .testimonials__block {
  background-color: white;
  border-radius: 0.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2.4rem;
  width: 102rem;
  -webkit-box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
          box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
}
.testimonials-teams .testimonials .testimonials__content .testimonials__block .testimonials__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 6.4rem 10.5rem;
  padding-bottom: 0rem;
}
.testimonials-teams .testimonials .testimonials__content .testimonials__block .testimonials__text::before {
  display: block;
  content: "   ";
  background-image: url(../../img/Homepage/team:testimonials/testimonials/braces.png);
  background-size: cover;
  width: 2.8rem;
  height: 2rem;
  padding-right: 2rem;
  margin-right: 3rem;
}
.testimonials-teams .testimonials .testimonials__content .testimonials__autor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
  padding-left: 16.3rem;
  padding-bottom: 6.4rem;
}
.testimonials-teams .testimonials .testimonials__content .testimonials__autor .testimonials__img {
  width: 7.2rem;
  height: 7.2rem;
}
.testimonials-teams .testimonials .testimonials__status {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.2rem;
}
.testimonials-teams .testimonials .testimonials__status .testimonials__tracker {
  width: 3rem;
  height: 0rem;
  border: 0.15rem solid #b3b7bc;
  background-color: #b3b7bc;
  border-radius: 0.3rem;
}
.testimonials-teams .testimonials .testimonials__status .testimonials__tracker_active {
  border: 0.15rem solid #424551;
  background-color: #424551;
}

.blog {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 6rem;
  margin-top: 12rem;
}
.blog .blog__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 82.2rem;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.blog .blog__header .blog__article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.8rem;
}
.blog .blog__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3rem;
}
.blog .blog__content .blog__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.6rem;
  width: 39rem;
}
.blog .blog__content .blog__block .blog__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.8rem;
}
.blog .blog__content .blog__block .blog__text .blog__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.2rem;
}
.blog .blog__content .blog__block .blog__text .blog__info .blog__date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.blog .blog__content .blog__block .blog__text .blog__info .blog__date::before {
  content: "";
  background-image: url(../../img/icons/Calendar.svg);
  width: 1.6rem;
  height: 1.6rem;
  background-size: cover;
  margin-right: 0.8rem;
}
.blog .blog__content .blog__block .blog__text .blog__info .blog__time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.blog .blog__content .blog__block .blog__text .blog__info .blog__time::before {
  content: "";
  background-image: url(../../img/icons/Clock.svg);
  width: 1.6rem;
  height: 1.6rem;
  background-size: cover;
  margin-right: 0.8rem;
}
.blog .blog__content .blog__block .blog__text .blog__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.8rem;
}
.blog .blog__content .blog__block .blog__text .blog__link .blog__icon {
  fill: #ff3f3a;
}
.blog .blog__content .blog__block .blog__text .blog__link:hover {
  color: #ff3f3a;
}
.blog .blog__content .blog__block .blog__mark-podcast {
  background-color: white;
  position: absolute;
  border-radius: 0.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.1rem 0.8rem;
  margin: 1.2rem;
}
.blog .blog__content .blog__block .blog__mark-podcast::before {
  content: "";
  background-image: url(../../img/icons/mic.svg);
  width: 1.6rem;
  height: 1.6rem;
  background-size: cover;
  margin-right: 0.4rem;
}
.blog .blog__content .blog__block .blog__mark-video {
  background-color: white;
  position: absolute;
  border-radius: 0.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.1rem 0.8rem;
  margin: 1.2rem;
}
.blog .blog__content .blog__block .blog__mark-video::before {
  content: "";
  background-image: url(../../img/icons/Play.svg);
  width: 1.6rem;
  height: 1.6rem;
  background-size: cover;
  margin-right: 0.4rem;
}
.blog .blog__content .blog__block .blog__mark-article {
  background-color: white;
  position: absolute;
  border-radius: 0.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.1rem 0.8rem;
  margin: 1.2rem;
}
.blog .blog__content .blog__block .blog__mark-article::before {
  content: "";
  background-image: url(../../img/icons/Files.svg);
  width: 1.6rem;
  height: 1.6rem;
  background-size: cover;
  margin-right: 0.4rem;
}

.subscribe {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 6rem;
  background-image: url(../../img/Homepage/subscribe/Subscribe.png);
  background-size: cover;
  margin-top: 18rem;
}
.subscribe .subscribe__article {
  margin-top: 12rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.8rem;
  width: 81rem;
}
.subscribe .subscribe__article .subscribe__title {
  text-align: center;
}
.subscribe .subscribe__form {
  margin-top: 6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2.4rem;
  margin-bottom: 18rem;
}
.subscribe .subscribe__form .subscribe__input {
  width: 42.2rem;
  height: 5.2rem;
  border-radius: 0.4rem;
  border: 0.1rem solid #d7dadd;
  font-size: 1.6rem;
  font-weight: 400;
  padding-left: 1.6rem;
}
.subscribe .subscribe__form .subscribe__input::-webkit-input-placeholder {
  font-size: 1.6rem;
  font-weight: 400;
  color: #9a9ca5;
}
.subscribe .subscribe__form .subscribe__input::-moz-placeholder {
  font-size: 1.6rem;
  font-weight: 400;
  color: #9a9ca5;
}
.subscribe .subscribe__form .subscribe__input:-ms-input-placeholder {
  font-size: 1.6rem;
  font-weight: 400;
  color: #9a9ca5;
}
.subscribe .subscribe__form .subscribe__input::-ms-input-placeholder {
  font-size: 1.6rem;
  font-weight: 400;
  color: #9a9ca5;
}
.subscribe .subscribe__form .subscribe__input::placeholder {
  font-size: 1.6rem;
  font-weight: 400;
  color: #9a9ca5;
}
.subscribe .subscribe__form .subscribe__input:focus {
  outline: none;
}

.footer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #1e212c;
}
.footer .footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8rem;
  margin-top: 8rem;
  margin-bottom: 6rem;
}
.footer .footer__content .footer__info {
  width: 27.9rem;
}
.footer .footer__content .footer__info .footer__logo {
  width: 13rem;
  height: 2.2rem;
  padding-bottom: 2.4rem;
}
.footer .footer__content .footer__info .footer__text {
  color: white;
  opacity: 60%;
}
.footer .footer__content .footer__info .footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
  margin-top: 3.8rem;
}
.footer .footer__content .footer__info .footer__social .footer__icon-social {
  fill: white;
  opacity: 60%;
  cursor: pointer;
}
.footer .footer__content .footer__info .footer__social .footer__icon-social:hover {
  opacity: 100%;
}
.footer .footer__content .footer__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8rem;
}
.footer .footer__content .footer__nav .footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.8rem;
}
.footer .footer__content .footer__nav .footer__list .footer__title-list {
  color: white;
  padding-bottom: 0.4rem;
}
.footer .footer__content .footer__nav .footer__list .footer__item {
  color: white;
  opacity: 60%;
}
.footer .footer__content .footer__nav .footer__list .footer__item-number {
  color: white;
  opacity: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.8rem;
}
.footer .footer__content .footer__nav .footer__list .footer__item-number::before {
  content: "";
  background-image: url(../../img/icons/iPhone.svg);
  width: 1.6rem;
  height: 1.6rem;
  background-size: contain;
}
.footer .footer__content .footer__nav .footer__list .footer__item-email {
  color: white;
  opacity: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.8rem;
}
.footer .footer__content .footer__nav .footer__list .footer__item-email::before {
  content: "";
  background-image: url(../../img/icons/Mail.svg);
  width: 1.6rem;
  height: 1.6rem;
  background-size: contain;
}
.footer .footer__content .footer__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.2rem;
}
.footer .footer__content .footer__form .footer__label {
  font-size: 1.6rem;
  font-weight: 700;
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  padding-bottom: 1.2rem;
}
.footer .footer__content .footer__form .footer__input-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer .footer__content .footer__form .footer__input-container .footer__input {
  background: rgba(255, 255, 255, 0.12);
  border: 0.1rem solid rgba(255, 255, 255, 0.2);
  border-radius: 0.4rem;
  width: 25rem;
  height: 3.6rem;
  font-size: 1.2rem;
  font-weight: 400;
  color: white;
  padding-left: 1.2rem;
  border-right: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.footer .footer__content .footer__form .footer__input-container .footer__input::-webkit-input-placeholder {
  font-size: 1.2rem;
  font-weight: 400;
}
.footer .footer__content .footer__form .footer__input-container .footer__input::-moz-placeholder {
  font-size: 1.2rem;
  font-weight: 400;
}
.footer .footer__content .footer__form .footer__input-container .footer__input:-ms-input-placeholder {
  font-size: 1.2rem;
  font-weight: 400;
}
.footer .footer__content .footer__form .footer__input-container .footer__input::-ms-input-placeholder {
  font-size: 1.2rem;
  font-weight: 400;
}
.footer .footer__content .footer__form .footer__input-container .footer__input::placeholder {
  font-size: 1.2rem;
  font-weight: 400;
}
.footer .footer__content .footer__form .footer__input-container .footer__input:focus {
  outline: none;
}
.footer .footer__content .footer__form .footer__input-container .footer__submit {
  width: 3.6rem;
  height: 3.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: rgba(255, 255, 255, 0.12);
  border: 0.1rem solid rgba(255, 255, 255, 0.2);
  border-left: none;
  border-top-right-radius: 0.4rem;
  border-bottom-right-radius: 0.4rem;
}
.footer .footer__content .footer__form .footer__discription {
  color: white;
}
.footer .footer__super-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #292c37;
  padding: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}
.footer .footer__super-footer .footer__made {
  color: white;
  padding-right: 0.4rem;
}
.footer .footer__super-footer .footer__by {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.4rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer .footer__super-footer .footer__by::before {
  content: "";
  width: 1.6rem;
  height: 1.6rem;
  background-image: url(../../img/icons/Heart.svg);
  background-size: contain;
}
.footer .footer__super-footer .footer__go {
  text-transform: uppercase;
  color: white;
  opacity: 60%;
  font-size: 1.4rem;
  font-weight: 700;
  margin-left: 86.8rem;
}

/*-----------Courses----------*/
.header_white {
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 5.2rem;
  width: 100%;
  padding: 1rem 0;
  position: fixed;
  z-index: 50;
}
.header_white .header__logo {
  width: 13rem;
  height: 2.2rem;
  cursor: pointer;
}
.header_white .header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 4rem;
  padding-left: 6rem;
}
.header_white .header__btn {
  margin-left: 22.5rem;
}
.header_white .header__log {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.8rem;
  margin-left: 3.6rem;
}

.courses-menu {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 6rem;
  margin-top: 13.3rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url(../../img/courses/background.png);
  background-size: contain;
}
.courses-menu .courses-menu__article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.8rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.courses-menu .courses-menu__control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.2rem;
}
.courses-menu .courses-menu__control .courses-menu__btn {
  padding: 1rem 2rem;
  color: #9a9ca5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 0.4rem;
  border-radius: 0.4rem;
}
.courses-menu .courses-menu__control .courses-menu__btn:hover {
  color: #ff3f3a;
}
.courses-menu .courses-menu__control .courses-menu__btn:focus {
  border: 0.1rem solid #ff3f3a;
  color: #ff3f3a;
}
.courses-menu .courses-menu__control .courses-menu__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 31.5rem;
  height: 4.4rem;
  margin-left: 9rem;
}
.courses-menu .courses-menu__control .courses-menu__form .courses-menu__search {
  width: 100%;
  height: 100%;
  border-radius: 0.4rem;
  border: 0.1rem solid #d7dadd;
  font-size: 1.4rem;
  font-weight: 400;
  padding-left: 1.6rem;
  border-right: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.courses-menu .courses-menu__control .courses-menu__form .courses-menu__search::-webkit-input-placeholder {
  color: #9a9ca5;
  font-size: 1.4rem;
  font-weight: 400;
}
.courses-menu .courses-menu__control .courses-menu__form .courses-menu__search::-moz-placeholder {
  color: #9a9ca5;
  font-size: 1.4rem;
  font-weight: 400;
}
.courses-menu .courses-menu__control .courses-menu__form .courses-menu__search:-ms-input-placeholder {
  color: #9a9ca5;
  font-size: 1.4rem;
  font-weight: 400;
}
.courses-menu .courses-menu__control .courses-menu__form .courses-menu__search::-ms-input-placeholder {
  color: #9a9ca5;
  font-size: 1.4rem;
  font-weight: 400;
}
.courses-menu .courses-menu__control .courses-menu__form .courses-menu__search::placeholder {
  color: #9a9ca5;
  font-size: 1.4rem;
  font-weight: 400;
}
.courses-menu .courses-menu__control .courses-menu__form .courses-menu__search:focus {
  outline: none;
}
.courses-menu .courses-menu__control .courses-menu__form .courses-menu__submit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 1.6rem;
  border-radius: 0.4rem;
  border: 0.1rem solid #d7dadd;
  height: 4.6rem;
  border-left: none;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.courses-menu .courses-menu__control .courses-menu__form .courses-menu__submit .courses-menu__icon {
  fill: #9a9ca5;
}
.courses-menu .courses-menu__content {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 43.8rem 3rem 43.8rem 3rem 43.8rem;
  -ms-grid-columns: 39rem 3rem 39rem 3rem 39rem;
      grid-template: repeat(3, 43.8rem)/repeat(3, 39rem);
  gap: 3rem;
}
.courses-menu .courses-menu__content .courses-menu__block:hover {
  -webkit-box-shadow: 0px 8rem 8rem -2rem rgba(154, 156, 165, 0.16), 0px 3rem 2.4rem -1rem rgba(154, 156, 165, 0.1), 0px 1.2rem 1rem -0.6rem rgba(154, 156, 165, 0.08), 0px 0.4rem 0.4rem -0.4rem rgba(30, 33, 44, 0.05);
          box-shadow: 0px 8rem 8rem -2rem rgba(154, 156, 165, 0.16), 0px 3rem 2.4rem -1rem rgba(154, 156, 165, 0.1), 0px 1.2rem 1rem -0.6rem rgba(154, 156, 165, 0.08), 0px 0.4rem 0.4rem -0.4rem rgba(30, 33, 44, 0.05);
  z-index: 3;
}
.courses-menu .courses-menu__content .courses-menu__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2.4rem;
  border: 0.1rem solid #e5e8ed;
  border-radius: 0.4rem;
  -webkit-box-shadow: 0px 8rem 8rem -2rem rgba(154, 156, 165, 0.08), 0px 3rem 2.4rem -1rem rgba(154, 156, 165, 0.05), 0px 1.2rem 1rem -0.6rem rgba(154, 156, 165, 0.04), 0px 0.4rem 0.4rem -0.4rem rgba(30, 33, 44, 0.03);
          box-shadow: 0px 8rem 8rem -2rem rgba(154, 156, 165, 0.08), 0px 3rem 2.4rem -1rem rgba(154, 156, 165, 0.05), 0px 1.2rem 1rem -0.6rem rgba(154, 156, 165, 0.04), 0px 0.4rem 0.4rem -0.4rem rgba(30, 33, 44, 0.03);
  cursor: pointer;
}
.courses-menu .courses-menu__content .courses-menu__block .courses-menu__img {
  width: 100%;
  height: 24rem;
}
.courses-menu .courses-menu__content .courses-menu__block .courses-menu__discription {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
  padding-left: 2.4rem;
}
.courses-menu .courses-menu__content .courses-menu__block .courses-menu__discription .courses-menu__category-marketing {
  background-color: #03cea4;
  color: white;
  border-radius: 0.4rem;
  width: 6.3rem;
  padding: 0.2rem 0.8rem;
}
.courses-menu .courses-menu__content .courses-menu__block .courses-menu__discription .courses-menu__category-managment {
  background-color: #5a87fc;
  color: white;
  border-radius: 0.4rem;
  width: 7.8rem;
  padding: 0.2rem 0.8rem;
}
.courses-menu .courses-menu__content .courses-menu__block .courses-menu__discription .courses-menu__category-hr {
  background-color: #f89828;
  color: white;
  border-radius: 0.4rem;
  width: 9.6rem;
  padding: 0.2rem 0.8rem;
}
.courses-menu .courses-menu__content .courses-menu__block .courses-menu__discription .courses-menu__category-design {
  background-color: #f52f6e;
  color: white;
  border-radius: 0.4rem;
  width: 4.4rem;
  padding: 0.2rem 0.8rem;
}
.courses-menu .courses-menu__content .courses-menu__block .courses-menu__discription .courses-menu__category-development {
  background-color: #7772f1;
  color: white;
  border-radius: 0.4rem;
  width: 8rem;
  padding: 0.2rem 0.8rem;
}
.courses-menu .courses-menu__content .courses-menu__block .courses-menu__discription .courses-menu__author {
  color: #787a80;
}
.courses-menu .courses-menu__content .courses-menu__block .courses-menu__discription .courses-menu__author .courses-menu__price {
  color: #ff4242;
  font-weight: 700;
}
.courses-menu .courses-menu__more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.6rem;
  margin-bottom: 12rem;
}

.testimonials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 6rem;
  padding-top: 8rem;
  padding-bottom: 10rem;
  width: 100%;
  background-image: url(../../img/courses/background-testimonials.png);
  background-size: cover;
}
.testimonials .testimonials__article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.8rem;
}
.testimonials .testimonials__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 6.9rem;
}
.testimonials .testimonials__content .testimonials__btn {
  width: 4.8rem;
  height: 4.8rem;
  border-radius: 50%;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.testimonials .testimonials__content .testimonials__btn:hover {
  background-color: #ff3f3a;
}
.testimonials .testimonials__content .testimonials__btn:hover .testimonials__icon {
  fill: white;
}
.testimonials .testimonials__content .testimonials__block {
  background-color: white;
  border-radius: 0.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2.4rem;
  width: 102rem;
  -webkit-box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
          box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
}
.testimonials .testimonials__content .testimonials__block .testimonials__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 6.4rem 10.5rem;
  padding-bottom: 0rem;
}
.testimonials .testimonials__content .testimonials__block .testimonials__text::before {
  display: block;
  content: "   ";
  background-image: url(../../img/Homepage/team:testimonials/testimonials/braces.png);
  background-size: cover;
  width: 2.8rem;
  height: 2rem;
  padding-right: 2rem;
  margin-right: 3rem;
}
.testimonials .testimonials__content .testimonials__autor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
  padding-left: 16.3rem;
  padding-bottom: 6.4rem;
}
.testimonials .testimonials__content .testimonials__autor .testimonials__img {
  width: 7.2rem;
  height: 7.2rem;
}
.testimonials .testimonials__status {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.2rem;
}
.testimonials .testimonials__status .testimonials__tracker {
  width: 3rem;
  height: 0rem;
  border: 0.15rem solid #b3b7bc;
  background-color: #b3b7bc;
  border-radius: 0.3rem;
}
.testimonials .testimonials__status .testimonials__tracker_active {
  border: 0.15rem solid #424551;
  background-color: #424551;
}

.certificate-courses {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 13rem;
  margin-top: 12rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.certificate-courses .certificate__content {
  width: 39.7rem;
}
.certificate-courses .certificate__content .certificate__article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.8rem;
  margin-bottom: 4.8rem;
}
.certificate-courses .certificate__content .certificate__logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 4rem;
  margin-top: 3.2rem;
}
.certificate-courses .certificate__content .certificate__logos .certificate__logo {
  width: 10.5rem;
  height: 5rem;
}
.certificate-courses .certificate__img {
  width: 70.5rem;
  height: 50rem;
  -webkit-box-shadow: 0rem 8rem 8rem -2rem rgba(154, 156, 165, 0.16), 0rem 3rem 2.4rem -10rem rgba(154, 156, 165, 0.1), 0rem 1.2rem 1rem -0.6rem rgba(154, 156, 165, 0.08), 0rem 4rem 4rem -4rem rgba(30, 33, 44, 0.05);
          box-shadow: 0rem 8rem 8rem -2rem rgba(154, 156, 165, 0.16), 0rem 3rem 2.4rem -10rem rgba(154, 156, 165, 0.1), 0rem 1.2rem 1rem -0.6rem rgba(154, 156, 165, 0.08), 0rem 4rem 4rem -4rem rgba(30, 33, 44, 0.05);
  z-index: 3;
}