:root {
  --fontSize: 0.52083vw;
}
._container {
  padding-left: 34.5rem;
  padding-right: 34.5rem;
}
* {
  padding: 0;
  margin: 0;
  font-family: "Lato", serif;
  text-decoration: none;
  color: black;
  font-weight: 700;
}
::-webkit-scrollbar {
  width: 0;
}
ul,
li {
  list-style: none;
}
html,
body {
  font-size: var(--fontSize);
  overflow-x: hidden;
}
header {
  background-image: url(img/Header/Header-main/background.png);
  background-size: cover;
  height: 114rem;
}
nav {
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: flex;
  align-items: center;
  width: 100%;
  box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08),
    0px 30px 24px -10px rgba(154, 156, 165, 0.05),
    0px 12px 10px -6px rgba(154, 156, 165, 0.04),
    0px 4px 4px -4px rgba(30, 33, 44, 0.03);
  position: fixed;
  background-color: #ffddd5;
  z-index: 10;
}
.nav-logo {
  width: 13rem;
  height: 2.2rem;
}
.nav-list {
  padding-left: 6rem;
  display: flex;
  gap: 4rem;
}
.nav-list a {
  font-size: 1.6rem;
  color: rgba(66, 69, 81, 1);
}
nav button {
  margin-left: 22.5rem;
  margin-right: 3.6rem;
}
.nav-btn,
.enjoy-btn,
.about-btn,
.blog-btn button {
  width: 20.6rem;
  height: 5.2rem;
  background: linear-gradient(55.95deg, #ff3f3a 0%, #f75e05 100%);
  border-radius: 0.4rem;
  border: none;
  color: white;
  font-weight: 700;
  font-size: 1.6rem;
  cursor: pointer;
  transition: 1s;
}
.nav-reg {
  font-size: 1.6rem;
  padding-left: 0.8rem;
}
.nav-person {
  width: 2rem;
  height: 2rem;
}
.enjoy {
  padding-top: 21.2rem;
  display: flex;
}
.enjoy-text {
  padding-right: 18rem;
}
.enjoy-play {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.play-btn {
  margin-top: 1.6rem;
  width: 5.2rem;
  height: 5.2rem;
  background-color: rgba(255, 63, 58, 1);
  border-radius: 50%;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 0 1.6rem #fec8c2;
  cursor: pointer;
  transition: 0.5s;
}
.play-btn:hover {
  box-shadow: none;
}
.play-btn img {
  width: 1.1rem;
  height: 1.6rem;
}
.enjoy-play p {
  font-size: 1.4rem;
  padding-top: 1.6rem;
  padding-left: 2rem;
}
h1 {
  width: 49.6rem;
  padding-top: 4rem;
  font-weight: 900;
  font-size: 6.4rem;
  line-height: 8.3rem;
  letter-spacing: 1px;
  color: rgba(30, 33, 44, 1);
}
.enjoy-btn-trans,
.courses-btn,
.event-btn button {
  width: 14.8rem;
  height: 5.2rem;
  border-radius: 0.4rem;
  border: solid;
  background-color: #ffddd5;
  border-color: rgba(255, 63, 58, 1);
  color: rgba(255, 63, 58, 1);
  font-weight: 700;
  font-size: 1.6rem;
  cursor: pointer;
  margin-right: 2.4rem;
  margin-top: 6rem;
  border-width: 0.1rem;
}
.enjoy-img {
  width: 60rem;
  height: 55rem;
}
.statistic {
  display: flex;
  align-items: center;
  padding-left: 34.1rem;
  padding-top: 18.9rem;
}
.statistic-number {
  font-weight: 900;
  font-size: 4.6rem;
  padding-right: 1.2rem;
}
.statistic-name {
  font-size: 1.6rem;
  padding-right: 6.6rem;
}
.circle {
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 50%;
  background-color: #ff3f3a;
  margin-right: 6.6rem;
}
.about {
  background-image: url(img/Main/About/background.png);
  background-size: contain;
  margin-top: 23.9rem;
  height: 48.4rem;
  display: flex;
}
.about-img {
  align-self: flex-end;
  width: 70.5rem;
  height: 56rem;
}
.about-text {
  padding-left: 13.5rem;
}
.about-subtitle {
  font-weight: 700;
  font-size: 1.6rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding-bottom: 0.8rem;
}
h2 {
  font-weight: 900;
  font-size: 4.6rem;
  padding-bottom: 4rem;
}
.about-list {
  width: 35.8rem;
  gap: 1.2rem;
  display: flex;
  flex-direction: column;
  padding-bottom: 2.2rem;
}
.about-element {
  font-size: 1.6rem;
  font-weight: 400;
  display: flex;
  gap: 1.6rem;
}
.about-element img {
  width: 1.6rem;
  height: 1.6rem;
  padding: 0.2rem 0 0 0;
}
.about-btn {
  width: 16.1rem;
  height: 4.4rem;
  font-size: 1.4rem;
  font-weight: 700;
}
.courses {
  padding-top: 18rem;
}
.courses-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.courses-subtitle {
  font-size: 1.6rem;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.courses-title {
  font-weight: 900;
  font-size: 4.6rem;
}
.courses-btn {
  font-size: 1.6rem;
  width: 20.2rem;
  background-color: white;
  align-self: center;
  margin: 0;
  transition: 1s;
}
.courses-btn:hover {
  background: linear-gradient(55.95deg, #ff3f3a 0%, #f75e05 100%);
  color: white;
}
.courses-blocks {
  display: grid;
  grid-template: repeat(3, 21.4rem) / repeat(2, 60rem);
  gap: 3rem;
  padding-top: 6rem;
}
.courses-block {
  display: flex;
  border-radius: 4px;
  box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08),
    0px 30px 24px -10px rgba(154, 156, 165, 0.05),
    0px 12px 10px -6px rgba(154, 156, 165, 0.04),
    0px 4px 4px -4px rgba(30, 33, 44, 0.03);
  border: 1px solid #e5e8ed;
  position: relative;
}
.courses-block:hover {
  box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.16),
    0px 30px 24px -10px rgba(154, 156, 165, 0.1),
    0px 12px 10px -6px rgba(154, 156, 165, 0.08),
    0px 4px 4px -4px rgba(30, 33, 44, 0.05);
  z-index: 50;
}
.block-text {
  padding-left: 3.2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 32.2rem;
  justify-content: center;
}
.marker {
  font-size: 1.4rem;
  color: white;
  font-weight: 400;
  border-radius: 4px;

  display: flex;
  height: 2.3rem;
  justify-content: center;
  align-items: center;
}
._green {
  background-color: rgba(3, 206, 164, 1);
  width: 7.9rem;
}
._blue {
  background-color: rgba(90, 135, 252, 1);
  width: 9.7rem;
}
._orange {
  background-color: rgba(248, 152, 40, 1);
  width: 11.2rem;
}
._pink {
  background-color: rgba(245, 47, 110, 1);
  width: 5.9rem;
}
.discription {
  font-size: 2rem;
}
.info {
  font-size: 1.8rem;
  font-weight: 400;
  color: rgba(120, 122, 128, 1);
}
.info span {
  color: #ff3f3a;
}
.benefits {
  padding-top: 18rem;
}
.benefits-subtitle {
  text-align: center;
  font-size: 1.6rem;
}
h3 {
  text-align: center;
  font-weight: 900;
  font-size: 4.6rem;
}
.benefits-btns {
  padding-top: 6rem;
  display: flex;
}
.benefits-btn {
  width: 30.7rem;
  height: 4.6rem;
  border: none;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
  cursor: pointer;
}
.benefits-btn img {
  width: 1.6rem;
  height: 1.6rem;
}
.btn-img-hv {
  display: none;
}
.benefits-btn span {
  color: rgba(154, 156, 165, 1);
  font-size: 1.6rem;
}
.benefits-btn:hover .btn-img {
  display: none;
}
.benefits-btn:hover .btn-img-hv {
  display: block;
}
.benefits-btn:hover span {
  color: rgba(255, 63, 58, 1);
}
.benefits-btn:focus {
  border: 1px solid #ff3f3a;
  border-radius: 4px;
}
.benefits-btn:focus .btn-img {
  display: none;
}
.benefits-btn:focus .btn-img-hv {
  display: block;
}
.benefits-btn:focus span {
  color: rgba(255, 63, 58, 1);
}
.benefits-btn:focus {
  border: 1px solid #ff3f3a;
  border-radius: 4px;
}
.benefits-main {
  display: flex;
  padding-top: 6rem;
}
.benefits-main img {
  width: 60rem;
  height: 44rem;
  padding-left: 13.5rem;
}
.benefits-text {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  width: 49.5rem;
  justify-content: center;
}
.benefits-text-title {
  font-weight: 900;
  font-size: 3.2rem;
}
.benefits-text-discription {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.5rem;
}
.events {
  background-image: url(img/Main/Events/background.png);
  background-size: cover;
  height: 85rem;
  padding-top: 13.8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.events-subtitle {
  font-size: 1.6rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding-top: 8rem;
  padding-bottom: 0.8rem;
}
.events-sections {
  display: grid;
  grid-template: repeat(3, 12.6rem) / 123rem;
  gap: 2.4rem;
  padding-top: 6rem;
}
.event {
  display: flex;
  background-color: white;
  gap: 4rem;
  padding: 0 4rem;
  border-radius: 4px;
}
.event:hover {
  box-shadow: 0px 80px 80px -20px rgba(255, 63, 58, 0.16),
    0px 30px 24px -10px rgba(255, 63, 58, 0.1),
    0px 12px 10px -6px rgba(255, 63, 58, 0.08),
    0px 4px 4px -4px rgba(30, 33, 44, 0.05);
  z-index: 10;
}
.event-info {
  display: flex;
  gap: 2rem;
}
.info-number {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.info-number p {
  color: #ff3f3a;
  font-weight: 900;
  font-size: 4.8rem;
  justify-self: center;
}
.info-date-time {
  display: flex;
  align-items: center;
}
.info-date-time p {
  font-size: 2rem;
}
.info-date-time span {
  font-weight: 400;
  font-size: 1.6rem;
  color: rgba(120, 122, 128, 1);
}
.event-discription {
  display: flex;
  align-items: center;
}
.event-discription p {
  font-size: 2rem;
  width: 75.7rem;
}
.event-discription span {
  font-size: 1.6rem;
  font-weight: 400;
  color: rgba(120, 122, 128, 1);
}
.event-btn {
  display: flex;
  align-items: center;
}
.event-btn button {
  margin: 0;
  background-color: white;
  width: 13.6rem;
  font-size: 1.4rem;
  transition: 1s;
}
.event-btn button:hover {
  background: linear-gradient(55.95deg, #ff3f3a 0%, #f75e05 100%);
  color: white;
}
.certificate {
  display: flex;
  padding-top: 12rem;
  align-items: flex-start;
  height: 45.4rem;
}
.certificate-text {
  width: 39.2rem;
  padding-right: 13.5rem;
}
.certificate-subtitle {
  font-size: 1.6rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding-bottom: 0.8rem;
}
.certificate-text h3 {
  text-align: start;
  padding-bottom: 4.8rem;
}
.certificate-discription {
  font-weight: 400;
  font-size: 1.6rem;
  padding-bottom: 3.2rem;
}
.certificate-logo {
  display: flex;
  gap: 4rem;
}
.certificate-logo img {
  width: 10.5rem;
  height: 5rem;
}
.certificate-img {
  width: 70.5rem;
  height: 50rem;
  box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.16),
    0px 30px 24px -10px rgba(154, 156, 165, 0.1),
    0px 12px 10px -6px rgba(154, 156, 165, 0.08),
    0px 4px 4px -4px rgba(30, 33, 44, 0.05);
}
.teams-testimonials {
  background-image: url(img/Main/Teams-Testimonials/Background.png);
  background-size: contain;
  height: 157rem;
}
.teams {
  padding-top: 16.6rem;
  width: 125.2rem;
}
.teams-article {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.teams-text p {
  font-size: 1.6rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.teams-text h3 {
  text-align: start;
}
.teams-btn button {
  border-radius: 50%;
  border: none;
  width: 4.8rem;
  height: 4.8rem;
  background: none;
  font-size: 2rem;
  cursor: pointer;
  transition: 0.5s;
}
.teams-btn button:hover {
  background-color: #ff3f3a;
  color: white;
}
.teams-galeria {
  display: flex;
  gap: 3rem;
  padding-top: 6rem;
}
.teams-galeria-block {
  position: relative;
}
.teams-galeria-block img {
  width: 28.5rem;
  height: 34rem;
}
.teams-galeria-block figcaption {
  text-align: center;
  font-size: 2rem;
  padding-top: 1.6rem;
}
.teams-galeria-block span {
  font-weight: 400;
  font-size: 1.6rem;
  color: rgba(120, 122, 128, 1);
}
.galeria-block-hover {
  z-index: 50;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background: linear-gradient(
    180deg,
    rgba(30, 33, 44, 0) 43.9%,
    rgba(30, 33, 44, 0.03) 55.21%,
    rgba(30, 33, 44, 0.33) 68.73%,
    rgba(30, 33, 44, 0.56) 76.17%,
    rgba(30, 33, 44, 0.768225) 83.75%,
    rgba(30, 33, 44, 0.92) 91.49%,
    #1e212c 100%
  );
  margin-bottom: 6.5rem;
  height: 34rem;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 0 0 2rem 0;
}
.galeria-block-hover img {
  width: 2rem;
  height: 2rem;
  padding-right: 2rem;
  opacity: 0.6;
}
.galeria-block-hover button {
  background: none;
  border: none;
  cursor: pointer;
}
.galeria-block-hover button:hover img {
  opacity: 1;
}
.teams-galeria-block:hover .galeria-block-hover {
  cursor: pointer;
  opacity: 1;
}
.testimonials {
  padding-top: 18rem;
}
.testimonials article p {
  font-size: 1.6rem;
  letter-spacing: 1px;
  text-align: center;
}
.testimonials-main {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 6rem;
  gap: 6.9rem;
}
.testimonials-main button {
  border-radius: 50%;
  border: none;
  width: 4.8rem;
  height: 4.8rem;
  background: none;
  font-size: 2rem;
  cursor: pointer;
  transition: 0.5s;
}
.testimonials-main button:hover {
  background-color: #ff3f3a;
  color: white;
}
.testimonial-block {
  width: 102rem;
  height: 34.4rem;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08),
    0px 30px 24px -10px rgba(154, 156, 165, 0.05),
    0px 12px 10px -6px rgba(154, 156, 165, 0.04),
    0px 4px 4px -4px rgba(30, 33, 44, 0.03);
  border-radius: 4px;
}
.testimonial-block-text p {
  font-weight: 400;
  font-size: 2rem;
  line-height: 3rem;
  width: 75.2rem;
}
.testimonial-block-text {
  display: flex;
}
.testimonial-block-text img {
  width: 2.8rem;
  height: 2rem;
  padding-right: 3rem;
}
.testimonial-block-signature {
  display: flex;
  padding-top: 3.5rem;
  align-items: center;
  align-self: flex-start;
  padding-left: 16.3rem;
}
.testimonial-block-signature img {
  width: 7.2rem;
  height: 7.2rem;
}
.testimonial-block-signature figcaption {
  font-weight: 400;
  font-size: 1.4rem;
  color: rgba(120, 122, 128, 1);
  padding-left: 2rem;
}
.testimonial-block-signature figcaption mark {
  font-size: 1.6rem;
  background: none;
}
.testimonials-tracker {
  display: flex;
  gap: 1.2rem;
  justify-content: center;
  padding-top: 6rem;
}
.line {
  width: 3rem;
  height: 1px;
  background-color: rgba(179, 183, 188, 1);
  border-radius: 3px;
}
.line:first-child {
  background-color: rgba(66, 69, 81, 1);
}
.blog {
  padding-top: 12rem;
}
.blog article {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.blog-text p {
  font-size: 1.6rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.blog-text h3 {
  text-align: start;
}
.blog-btn button {
  width: 15.9rem;
}
.blog-main {
  display: flex;
  padding-top: 6rem;
  gap: 3rem;
}
.blog-block {
  width: 39rem;
  height: 50.7rem;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
.blog-block img {
  width: 39rem;
  height: 30rem;
}
.block-info p {
  font-size: 1.4rem;
  color: rgba(120, 122, 128, 1);
  padding-top: 0.8rem;
}
.block-info img {
  width: 1.5rem;
  height: 1.5rem;
}
.blog-block article {
  font-size: 2rem;
}
.block-discription p {
  font-weight: 400;
  font-size: 1.6rem;
  color: rgba(66, 69, 81, 1);
}
.block-link {
  padding-top: 0.8rem;
  font-size: 1.6rem;
}
.block-link mark {
  background: none;
  color: rgba(255, 63, 58, 1);
}
.block-category img {
  width: 1.6rem;
  height: 1.6rem;
  padding-right: 0.4rem;
}
.block-category {
  display: flex;
  background: white;
  border-radius: 4px;
  padding: 0.1rem 0.8rem;
  position: absolute;
  margin: 1.2rem;
}
.block-category p {
  font-weight: 400;
  font-size: 1.4rem;
  color: rgba(66, 69, 81, 1);
}
.subscribe {
  background-image: url(img/Main/subscribe/Subscribe.png);
  background-size: contain;
  height: 56.4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 18rem;
}
.subscribe article p {
  text-align: center;
  padding-top: 12rem;
  text-transform: uppercase;
  font-size: 1.6rem;
  letter-spacing: 1px;
}
.subscribe form {
  padding-top: 6rem;
  display: flex;
}
input [type="email" i] {
  width: 42.2rem;
  height: 5.2rem;
  border: 0.1rem solid #d7dadd;
  border-radius: 0.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.subscribe-email::placeholder {
  font-size: 1.6rem;
  font-weight: 400;
  color: rgba(154, 156, 165, 1);
}
.subscribe-email:active {
  border: none;
}
input[type="submit" i] {
  width: 20.6rem;
  height: 5.2rem;
  background: linear-gradient(55.95deg, #ff3f3a 0%, #f75e05 100%);
  border-radius: 0.4rem;
  border: none;
  color: white;
  font-weight: 700;
  font-size: 1.6rem;
  cursor: pointer;
  transition: 1s;
}
input[type="email" i] {
  width: 42.2rem;

  border: 0.1rem solid #d7dadd;
  border-radius: 0.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
  font-weight: 400;
  vertical-align: auto;
  margin-right: 2.4rem;
  padding: 1.3rem;
}
footer {
  background-color: rgba(30, 33, 44, 1);
  height: 39.6rem;
}
.footer {
  padding-top: 8rem;
  display: flex;
}
.footer-logo {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  width: 27.9rem;
}
.footer-logo p {
  color: rgba(255, 255, 255, 1);
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.8rem;
}
.footer-logo img {
  width: 13rem;
  height: 2.2rem;
}
.footer-media {
  display: flex;
  gap: 2rem;
}
.footer-media img {
  width: 2.4rem;
  height: 2.4rem;
}
.footer-media button {
  width: 2.4rem;
  height: 2.4rem;
  border: none;
  background: none;
  opacity: 0.6;
  cursor: pointer;
}
.footer-media button:hover {
  opacity: 1;
}
.footer-links {
  padding-left: 8rem;
  display: flex;
  gap: 8rem;
  padding-right: 8rem;
}
.footer-list {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}
.footer-list p {
  color: white;
  font-size: 1.6rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.footer-list ul {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
.footer-list a {
  font-size: 1.6rem;
  font-weight: 400;
  color: white;
  opacity: 0.6;
}
.footer-list img {
  width: 1.6rem;
  height: 1.6rem;
  padding-right: 0.8rem;
}
.footer-sign {
  position: relative;
}
.footer-sign input {
  display: block;
  background: rgba(255, 255, 255, 0.12);
  border: 1px solid rgba(255, 255, 255, 0.2);
  width: 28.6rem;
}
.footer-sign button {
  position: absolute;
  top: 5rem;
  left: 34.8rem;
  background: none;
  border: none;
  font-size: 3rem;
  color: white;
  cursor: pointer;
}
.footer-sign-discription {
  font-weight: 400;
  font-size: 1rem;
  color: white;
  width: 28.6rem;
  padding-top: 1.2rem;
}
.footer-sign-title {
  color: white;
  width: 30rem;
  font-size: 1.6rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding-bottom: 2.4rem;
}
