@import "null-style.scss";
@import "component-style.scss";
@import "fonts-style.scss";
/*-----------CSS----------*/

/*-----------Homepage----------*/

.header_pink {
  background-color: #feddd0;
}
.header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5.2rem;
  width: 100%;
  padding: 1rem 0;
  position: fixed;
  z-index: 50;
  .header__logo {
    width: 13rem;
    height: 2.2rem;
    cursor: pointer;
  }
  .header__list {
    display: flex;
    gap: 4rem;
    padding-left: 6rem;
  }
  .header__btn {
    margin-left: 22.5rem;
  }
  .header__log {
    display: flex;
    gap: 0.8rem;
    margin-left: 3.6rem;
  }
}
.enjoy {
  width: 100%;
  background-image: url(../../img/Homepage/enjoy/background.png);
  background-size: cover;
  height: 114rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  .enjoy__content {
    padding-top: 20rem;
    display: flex;
    gap: 18rem;
    .enjoy__title {
      .enjoy__play {
        display: flex;
        align-items: center;
        .play__btn {
          width: 5.2rem;
          height: 5.2rem;
          background-color: #ff3f3a;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          .play__btn-hover {
            width: 8.4rem;
            height: 8.4rem;
            background-color: #00000000;
            border-radius: 50%;
            position: absolute;
            z-index: -1;
            .play__icon {
              z-index: 1;
            }
          }
        }
        .play__btn:hover .play__btn-hover {
          background-color: #fec8c1;
        }
        .play__text {
          font-size: 1.4rem;
          padding-left: 1.6rem;
        }
      }
      h1 {
        width: 49.6rem;
        padding-top: 4rem;
      }
      .enjoy__block-btn {
        display: flex;
        gap: 2.4rem;
        padding-top: 6rem;
      }
    }
    .enjoy__img {
      width: 60rem;
      height: 55rem;
    }
  }
  .enjoy__statistic {
    display: flex;
    gap: 6.6rem;
    align-items: center;
    margin-top: 18.9rem;
    .enjoy__statistic-block {
      display: flex;
      align-items: center;
      gap: 1.2rem;
    }
    .enjoy__circle {
      width: 0.8rem;
      height: 0.8rem;
      border-radius: 50%;
      background-color: #ff3f3a;
    }
  }
}
.about {
  background-image: url(../../img/Homepage/about/background.png);
  background-size: cover;
  width: 100%;
  height: 48.4rem;
  display: flex;
  justify-content: center;
  margin-top: 24rem;
  align-items: flex-end;
  .about__container {
    display: flex;
    gap: 13.2rem;
    align-items: flex-end;
    .about__img {
      width: 70.5rem;
      height: 56rem;
    }
    .about__content {
      margin-bottom: 2.6rem;
      .about__article {
        display: flex;
        flex-direction: column;
        gap: 0.8rem;
      }
      .about__list {
        display: flex;
        flex-direction: column;
        gap: 1.2rem;
        margin-top: 4rem;
        margin-bottom: 2.2rem;
        .about__item {
          display: flex;
          line-height: 2.6rem;
          .about__icon {
            fill: #ff3f3a;
            padding-right: 1.6rem;
          }
        }
      }
    }
  }
}
.courses {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 19.6rem;
  gap: 6rem;
  .courses__header {
    width: 123rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .courses__article {
      display: flex;
      flex-direction: column;
      gap: 0.8rem;
    }
  }
  .courses__content {
    display: grid;
    grid-template: repeat(3, 22rem) / repeat(2, 60rem);
    gap: 3rem;
    .courses__block {
      display: flex;
      gap: 3.2rem;
      align-items: center;
      border-radius: 0.4rem;
      border: 0.1rem solid #e5e8ed;
      box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08),
        0px 30px 24px -10px rgba(154, 156, 165, 0.05),
        0px 12px 10px -6px rgba(154, 156, 165, 0.04),
        0px 4px 4px -4px rgba(30, 33, 44, 0.03);
      .courses__img {
        width: 21.4rem;
        height: 22rem;
      }
      .courses__discription {
        width: 32.2rem;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        .courses__category-marketing {
          background-color: #03cea4;
          color: white;
          border-radius: 0.4rem;
          width: 6.3rem;
          padding: 0.2rem 0.8rem;
        }
        .courses__category-managment {
          background-color: #5a87fc;
          color: white;
          border-radius: 0.4rem;
          width: 7.8rem;
          padding: 0.2rem 0.8rem;
        }
        .courses__category-hr {
          background-color: #f89828;
          color: white;
          border-radius: 0.4rem;
          width: 9.6rem;
          padding: 0.2rem 0.8rem;
        }
        .courses__category-design {
          background-color: #f52f6e;
          color: white;
          border-radius: 0.4rem;
          width: 4.4rem;
          padding: 0.2rem 0.8rem;
        }
        .courses__author {
          color: #787a80;
          .courses__price {
            color: #ff4242;
            font-weight: 700;
          }
        }
      }
    }
    .courses__block:hover {
      box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.16),
        0px 30px 24px -10px rgba(154, 156, 165, 0.1),
        0px 12px 10px -6px rgba(154, 156, 165, 0.08),
        0px 4px 4px -4px rgba(30, 33, 44, 0.05);
      z-index: 1;
    }
  }
}
.benefits {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 16.2rem;
  align-items: center;
  .benefits__article {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    align-items: center;
  }
  .benefits__control {
    display: flex;
    margin-top: 6rem;
    .benefits__btn {
      width: 30.7rem;
      height: 4.6rem;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.8rem;
      fill: #9a9ca5;
      .benefits__btn-text {
        color: #9a9ca5;
      }
    }
    .benefits__btn:focus {
      fill: #ff3f3a;
      border: 0.1rem solid #ff3f3a;
      border-radius: 0.4rem;
      .benefits__btn-text {
        color: #ff3f3a;
      }
    }
    .benefits__btn:hover {
      fill: #ff3f3a;
      .benefits__btn-text {
        color: #ff3f3a;
      }
    }
  }
  .benefits__content {
    display: flex;
    gap: 13.5rem;
    align-items: center;
    margin-top: 6rem;
    .benefits__text {
      display: flex;
      flex-direction: column;
      gap: 2.4rem;
      width: 49.6rem;
    }
    .benefits__img {
      width: 60rem;
      height: 44rem;
    }
  }
}
.events {
  width: 100%;
  background-image: url(../../img/Homepage/events/background.png);
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6rem;
  padding-bottom: 12rem;
  margin-top: 15.5rem;
  .events__article {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    margin-top: 4.5rem;
  }
  .events__list {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    .events__block {
      background-color: white;
      display: flex;
      gap: 4rem;
      align-items: center;
      padding: 3.2rem 4rem;
      border-radius: 0.4rem;

      .events__date {
        display: flex;
        gap: 2rem;
        .events__number {
          color: #ff3f3a;
        }
        .events__month-time {
          display: flex;
          flex-direction: column;
          gap: 0.4rem;
          .events__time {
            color: #787a80;
          }
        }
      }
      .events__info {
        display: flex;
        flex-direction: column;
        gap: 0.4rem;
        .events__type {
          color: #787a80;
        }
      }
    }
    .events__block:hover {
      box-shadow: 0px 8rem 8rem -2rem rgba(255, 63, 58, 0.16),
        0px 3rem 2.4rem -1rem rgba(255, 63, 58, 0.1),
        0px 1.2rem 1rem -0.6rem rgba(255, 63, 58, 0.08),
        0px 0.4rem 0.4rem -0.4rem rgba(30, 33, 44, 0.05);
      z-index: 1;
    }
  }
  .events__view-all {
    display: flex;
    gap: 4rem;
    align-items: center;
  }
}
.certificate {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 13rem;
  margin-top: 8rem;
  height: 45.4rem;
  .certificate__content {
    width: 39.7rem;
    .certificate__article {
      display: flex;
      flex-direction: column;
      gap: 0.8rem;
      margin-bottom: 4.8rem;
    }
    .certificate__logos {
      display: flex;
      gap: 4rem;
      margin-top: 3.2rem;
      .certificate__logo {
        width: 10.5rem;
        height: 5rem;
      }
    }
  }
  .certificate__img {
    width: 70.5rem;
    height: 50rem;
    box-shadow: 0rem 8rem 8rem -2rem rgba(154, 156, 165, 0.16),
      0rem 3rem 2.4rem -10rem rgba(154, 156, 165, 0.1),
      0rem 1.2rem 1rem -0.6rem rgba(154, 156, 165, 0.08),
      0rem 4rem 4rem -4rem rgba(30, 33, 44, 0.05);
    z-index: 3;
  }
}
.testimonials-teams {
  width: 100%;
  background-image: url(../../img/Homepage/team:testimonials/Background.png);
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  .teams {
    margin-top: 16.6rem;
    display: flex;
    flex-direction: column;
    gap: 6rem;
    .teams__header {
      display: flex;
      gap: 85rem;
      .teams__article {
        display: flex;
        flex-direction: column;
        gap: 0.8rem;
      }
      .teams__control {
        display: flex;
        align-items: flex-end;
        .teams__btn {
          width: 4.8rem;
          height: 4.8rem;
          cursor: pointer;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        .teams__btn:hover {
          border-radius: 50%;
          background-color: #ff3f3a;
          .teams__icon {
            fill: white;
          }
        }
      }
    }
    .teams__content {
      display: flex;
      gap: 3rem;
      .teams__block {
        display: flex;
        flex-direction: column;
        align-items: center;
        .teams__bg {
          position: absolute;
          z-index: 3;
          width: 29rem;
          height: 34rem;
          display: none;
          .teams__social {
            fill: white;
            padding-bottom: 2rem;
            opacity: 60%;
          }
          .teams__social:last-child {
            padding-right: 2rem;
          }
          .teams__social:hover {
            opacity: 100%;
            cursor: pointer;
          }
        }
        .teams__img {
          width: 29rem;
          height: 34rem;
          margin-bottom: 1.6rem;
        }
      }
      .teams__block:hover {
        .teams__bg {
          display: flex;
          align-items: flex-end;
          justify-content: end;
          gap: 1.2rem;
          background: linear-gradient(
            180deg,
            rgba(30, 33, 44, 0) 43.9%,
            rgba(30, 33, 44, 0.03) 55.21%,
            rgba(30, 33, 44, 0.33) 68.73%,
            rgba(30, 33, 44, 0.56) 76.17%,
            rgba(30, 33, 44, 0.768225) 83.75%,
            rgba(30, 33, 44, 0.92) 91.49%,
            #1e212c 100%
          );
        }
      }
    }
  }
  .testimonials {
    margin-top: 18rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6rem;
    margin-bottom: 10rem;
    .testimonials__article {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 0.8rem;
    }
    .testimonials__content {
      display: flex;
      align-items: center;
      gap: 6.9rem;
      .testimonials__btn {
        width: 4.8rem;
        height: 4.8rem;
        border-radius: 50%;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .testimonials__btn:hover {
        background-color: #ff3f3a;
        .testimonials__icon {
          fill: white;
        }
      }
      .testimonials__block {
        background-color: white;
        border-radius: 0.4rem;
        display: flex;
        flex-direction: column;
        gap: 2.4rem;
        width: 102rem;
        box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08),
          0px 30px 24px -10px rgba(154, 156, 165, 0.05),
          0px 12px 10px -6px rgba(154, 156, 165, 0.04),
          0px 4px 4px -4px rgba(30, 33, 44, 0.03);
        .testimonials__text {
          display: flex;
          padding: 6.4rem 10.5rem;
          padding-bottom: 0rem;
        }
        .testimonials__text::before {
          display: block;
          content: "   ";
          background-image: url(../../img/Homepage/team:testimonials/testimonials/braces.png);
          background-size: cover;
          width: 2.8rem;
          height: 2rem;
          padding-right: 2rem;
          margin-right: 3rem;
        }
      }
      .testimonials__autor {
        display: flex;
        align-items: center;
        gap: 2rem;
        padding-left: 16.3rem;
        padding-bottom: 6.4rem;
        .testimonials__img {
          width: 7.2rem;
          height: 7.2rem;
        }
      }
    }
    .testimonials__status {
      display: flex;
      gap: 1.2rem;
      .testimonials__tracker {
        width: 3rem;
        height: 0rem;
        border: 0.15rem solid #b3b7bc;
        background-color: #b3b7bc;
        border-radius: 0.3rem;
      }
      .testimonials__tracker_active {
        border: 0.15rem solid #424551;
        background-color: #424551;
      }
    }
  }
}
.blog {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6rem;
  margin-top: 12rem;
  .blog__header {
    display: flex;
    gap: 82.2rem;
    align-items: flex-end;
    .blog__article {
      display: flex;
      flex-direction: column;
      gap: 0.8rem;
    }
  }
  .blog__content {
    display: flex;
    gap: 3rem;
    .blog__block {
      display: flex;
      flex-direction: column;
      gap: 1.6rem;
      width: 39rem;
      .blog__text {
        display: flex;
        flex-direction: column;
        gap: 0.8rem;
        .blog__info {
          display: flex;
          gap: 1.2rem;
          .blog__date {
            display: flex;
            align-items: center;
          }
          .blog__date::before {
            content: "";
            background-image: url(../../img/icons/Calendar.svg);
            width: 1.6rem;
            height: 1.6rem;
            background-size: cover;
            margin-right: 0.8rem;
          }
          .blog__time {
            display: flex;
            align-items: center;
          }
          .blog__time::before {
            content: "";
            background-image: url(../../img/icons/Clock.svg);
            width: 1.6rem;
            height: 1.6rem;
            background-size: cover;
            margin-right: 0.8rem;
          }
        }
        .blog__link {
          display: flex;
          align-items: center;
          gap: 0.8rem;
          .blog__icon {
            fill: #ff3f3a;
          }
        }
        .blog__link:hover {
          color: #ff3f3a;
        }
      }
      .blog__mark-podcast {
        background-color: white;
        position: absolute;
        border-radius: 0.4rem;
        display: flex;
        align-items: center;
        padding: 0.1rem 0.8rem;
        margin: 1.2rem;
      }
      .blog__mark-podcast::before {
        content: "";
        background-image: url(../../img/icons/mic.svg);
        width: 1.6rem;
        height: 1.6rem;
        background-size: cover;
        margin-right: 0.4rem;
      }
      .blog__mark-video {
        background-color: white;
        position: absolute;
        border-radius: 0.4rem;
        display: flex;
        align-items: center;
        padding: 0.1rem 0.8rem;
        margin: 1.2rem;
      }
      .blog__mark-video::before {
        content: "";
        background-image: url(../../img/icons/Play.svg);
        width: 1.6rem;
        height: 1.6rem;
        background-size: cover;
        margin-right: 0.4rem;
      }
      .blog__mark-article {
        background-color: white;
        position: absolute;
        border-radius: 0.4rem;
        display: flex;
        align-items: center;
        padding: 0.1rem 0.8rem;
        margin: 1.2rem;
      }
      .blog__mark-article::before {
        content: "";
        background-image: url(../../img/icons/Files.svg);
        width: 1.6rem;
        height: 1.6rem;
        background-size: cover;
        margin-right: 0.4rem;
      }
    }
  }
}
.subscribe {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6rem;
  background-image: url(../../img/Homepage/subscribe/Subscribe.png);
  background-size: cover;
  margin-top: 18rem;
  .subscribe__article {
    margin-top: 12rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    width: 81rem;
    .subscribe__title {
      text-align: center;
    }
  }
  .subscribe__form {
    margin-top: 6rem;
    display: flex;
    gap: 2.4rem;
    margin-bottom: 18rem;
    .subscribe__input {
      width: 42.2rem;
      height: 5.2rem;
      border-radius: 0.4rem;
      border: 0.1rem solid #d7dadd;
      font-size: 1.6rem;
      font-weight: 400;
      padding-left: 1.6rem;
    }
    .subscribe__input::placeholder {
      font-size: 1.6rem;
      font-weight: 400;
      color: #9a9ca5;
    }
    .subscribe__input:focus {
      outline: none;
    }
  }
}
.footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1e212c;
  .footer__content {
    display: flex;
    gap: 8rem;
    margin-top: 8rem;
    margin-bottom: 6rem;
    .footer__info {
      width: 27.9rem;
      .footer__logo {
        width: 13rem;
        height: 2.2rem;
        padding-bottom: 2.4rem;
      }
      .footer__text {
        color: white;
        opacity: 60%;
      }
      .footer__social {
        display: flex;
        gap: 2rem;
        margin-top: 3.8rem;
        .footer__icon-social {
          fill: white;
          opacity: 60%;
          cursor: pointer;
        }
        .footer__icon-social:hover {
          opacity: 100%;
        }
      }
    }
    .footer__nav {
      display: flex;
      gap: 8rem;
      .footer__list {
        display: flex;
        flex-direction: column;
        gap: 0.8rem;
        .footer__title-list {
          color: white;
          padding-bottom: 0.4rem;
        }
        .footer__item {
          color: white;
          opacity: 60%;
        }
        .footer__item-number {
          color: white;
          opacity: 60%;
          display: flex;
          align-items: center;
          gap: 0.8rem;
        }
        .footer__item-number::before {
          content: "";
          background-image: url(../../img/icons/iPhone.svg);
          width: 1.6rem;
          height: 1.6rem;
          background-size: contain;
        }
        .footer__item-email {
          color: white;
          opacity: 60%;
          display: flex;
          align-items: center;
          gap: 0.8rem;
        }
        .footer__item-email::before {
          content: "";
          background-image: url(../../img/icons/Mail.svg);
          width: 1.6rem;
          height: 1.6rem;
          background-size: contain;
        }
      }
    }
    .footer__form {
      display: flex;
      flex-direction: column;
      gap: 1.2rem;
      .footer__label {
        font-size: 1.6rem;
        font-weight: 700;
        color: white;
        text-transform: uppercase;
        letter-spacing: 0.1rem;
        padding-bottom: 1.2rem;
      }
      .footer__input-container {
        display: flex;
        align-items: center;
        .footer__input {
          background: rgba(255, 255, 255, 0.12);
          border: 0.1rem solid rgba(255, 255, 255, 0.2);
          border-radius: 0.4rem;
          width: 25rem;
          height: 3.6rem;
          font-size: 1.2rem;
          font-weight: 400;
          color: white;
          padding-left: 1.2rem;
          border-right: none;
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
        }
        .footer__input::placeholder {
          font-size: 1.2rem;
          font-weight: 400;
        }
        .footer__input:focus {
          outline: none;
        }
        .footer__submit {
          width: 3.6rem;
          height: 3.8rem;
          display: flex;
          align-items: center;
          justify-content: center;
          background: rgba(255, 255, 255, 0.12);
          border: 0.1rem solid rgba(255, 255, 255, 0.2);
          border-left: none;
          border-top-right-radius: 0.4rem;
          border-bottom-right-radius: 0.4rem;
        }
      }
      .footer__discription {
        color: white;
      }
    }
  }
  .footer__super-footer {
    display: flex;
    background-color: #292c37;
    padding: 2rem;
    align-items: center;
    justify-content: center;
    width: 100%;
    .footer__made {
      color: white;
      padding-right: 0.4rem;
    }
    .footer__by {
      color: white;
      display: flex;
      gap: 0.4rem;
      align-items: center;
    }
    .footer__by::before {
      content: "";
      width: 1.6rem;
      height: 1.6rem;
      background-image: url(../../img/icons/Heart.svg);
      background-size: contain;
    }
    .footer__go {
      text-transform: uppercase;
      color: white;
      opacity: 60%;
      font-size: 1.4rem;
      font-weight: 700;
      margin-left: 86.8rem;
    }
  }
}

/*-----------Courses----------*/

.header__white {
  background-color: white;
}
