/*-----null-style-----*/
:root {
  --fontSize: 0.52083vw;
}

* {
  padding: 0;
  margin: 0;
  font-family: "Lato", serif;
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 0;
}

ul,
li,
ol {
  list-style: none;
}

html,
body {
  font-size: var(--fontSize);
  overflow-x: hidden;
}

::after,
::before {
  display: block;
}

/*--------------------*/