<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../CSS/style.css" />
    <link rel="stylesheet" href="component-style.css" />
    <title>Component</title>
  </head>
  <body>
    <h1>Titles</h1>
    <section class="titles">
      <h1>H1</h1>
      <h2>H2</h2>
      <h3>H3</h3>
      <h4>H4</h4>
      <h5>H5</h5>
    </section>
    <h1>Text</h1>
    <section class="text">
      <div class="display">
        <p class="text_display_1">display 1</p>
        <p class="text_display_2">dispaly 2</p>
      </div>
      <div class="lead">
        <p class="text_lead_bold">lead Bold</p>
        <p class="text_lead_regular">lead Regular</p>
      </div>
      <div class="large">
        <p class="text_large_bold">large Bold</p>
        <p class="text_large_regular">large Regular</p>
      </div>
      <div class="base">
        <p class="text_base_bold">base Bold</p>
        <p class="text_base_regular">base Regular</p>
      </div>
      <div class="small">
        <p class="text_small_bold">small Bold</p>
        <p class="text_small_regular">small Regular</p>
      </div>
      <div class="extrasmall">
        <p class="text_extrasmall_bold">extrasmall Bold</p>
        <p class="text_extrasmall_regular">extrasmall Regular</p>
      </div>
      <div class="extraextrasmall">
        <p class="text_extraextrasmall_bold">extraextrasmall Bold</p>
        <p class="text_extraextrasmall_regular">extraextrasmall Regular</p>
      </div>
    </section>
  </body>
</html>
